@media (max-width: 800px) {
	.content-title {
		font-size: 1.5em;
	}
	.content-text {
		font-size: 1em;
		line-height: 1em;
	}
	.full-page-container, .full-page-container .full-page-item {
		overflow: unset;
	}
	.img-button-container {
		width: 100%;
		text-align: center;
	}
	.page-2-img {
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
	}
	.banner-text, .page-content-2 {
		top: 25vh;
		left: 0;
		text-align: center;
		width: 90%;
		margin: 0 5%;
		text-shadow: 0px .5px 5px #fff;
	}
	.page-2-button {
		width: 80%;
		margin: 10%;
	}
	 .teammember-content, .teammember-link {
		display: none;
	}
	.team-items {
		width: 100%;
		margin: 3.5vh auto;
	}
	.teammember-pic {
		height: 10vh;
		width: 10vh;
	}
	.page-3-title {
		padding-top: 5vh;
	}
	.footer-logo p {
		display: none;
	}
	.footer-logo img {
		width: 100%;
		height: auto;
	}
}